@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Alexandria', sans-serif;
}

/* HERO SECTION */

.hero-section {
  height: 90vh; 
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.box-group {
  position: relative;
  transform: rotate(-30deg);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.iconContainer {
  display: flex;
  gap: 0.5em;
  font-size: 4em;
  width: 200vw;
}

.iconContainer i {
  cursor: default;
  user-select: none;
  transition: 2s;
  color: transparent;
  opacity: 0.35;
  -webkit-text-stroke: 1px #0f0;
}

.iconContainer {
  animation: animate 90s linear infinite;
}

@keyframes animate {
  0%,100% {
    transform: translateX(-100vw);
  }
  50% {
    transform: translateX(0vw);
  }
}

.iconContainer:nth-child(even) {
  animation: animate2 90s linear infinite;
}

@keyframes animate2 {
  0%,100% {
    transform: translateX(0vw);
  }
  50% {
    transform: translateX(-100vw);
  }
}

.icon {
  cursor: default;
  user-select: none;
  color: rgb(226, 85, 203);
  opacity: 0.1;
  transition: color 0.3s, opacity 0.3s, text-shadow 0.3s;
}

.icon:hover {
  color: rgb(132, 112, 185);
  transition: 0s;
  opacity: 1;
  text-shadow: 0 0 120px #0f0;
}


/* SKILL BAR SECTION */

.skill-bar .progress-bar {
  width: 0;
  transition: width 2s ease;
}

.skill-bar.animate .progress-bar {
  width: var(--width);
}

.contact {
  background-image: url('../tilebg.png');
}



/* .test {
  background: radial-gradient(circle, transparent 20%, #fefefe 20%, #fefefe 80%, transparent 80%, transparent) 0% 0% / 64px 64px, radial-gradient(circle, transparent 20%, #fefefe 20%, #fefefe 80%, transparent 80%, transparent) 32px 32px / 64px 64px, linear-gradient(#e8d2f7 2px, transparent 2px) 0px -1px / 32px 32px, linear-gradient(90deg, #e8d2f7 2px, #fefefe 2px) -1px 0px / 32px 32px #fefefe;
  background-size: 64px 64px, 64px 64px, 32px 32px, 32px 32px;
  background-color: #fefefe;
} */


/* HASH POLKA */

.test {
  background:
      conic-gradient(#fefefe 25%,#0000 0) 0 0/calc(2*32px) calc(32px/9.5),
      conic-gradient(#fefefe 25%,#0000 0) 0 0/calc(32px/9.5) calc(2*32px),
      repeating-conic-gradient(#0000 0 25%,#fefefe 0 50%) 
       32px 0 /calc(2*32px) calc(2*32px),
      radial-gradient(50% 50%,#f9edfd 98%,#fefefe) 
       0 0/32px 32px;
}

