@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


/* Typing effect 
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
  
.typing-effect {
    overflow: hidden;
    border-right: .15em solid rgb(255, 255, 255); 
    white-space: nowrap; 
    animation: typing 2.5s steps(40, end) forwards;
}
  
/* SKILL CARDS 
.custom-card-shadow {
    box-shadow: 0 4px 8px 2px rgba(155, 153, 153, 0.1), 0 3px 10px 2px rgba(117, 117, 117, 0.8);
}

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .scrolling-background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    top: 0;
    left: 0;
  }
  
  .scrolling-row {
    display: flex;
    width: 200%;
    animation: scroll 40s linear infinite;
  }
  
  .card {
    width: 200px;
    height: 150px;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(163, 160, 160, 0.1);
  }
  
  .icon-background:hover {
    opacity: 1 !important;
  }
  
  .icon-background {
    transition: opacity 0.3s;
  }
*/  
  
html {
  font-family: 'Alexandria';
}

/* HERO SECTION */

.hero-section {
  height: 80vh; 
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.box-group {
  position: relative;
  transform: rotate(-30deg);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.iconContainer {
  display: flex;
  gap: 0.5em;
  font-size: 4em;
  width: 200vw;
}

.iconContainer i {
  cursor: default;
  user-select: none;
  transition: 2s;
  color: transparent;
  opacity: 0.35;
  -webkit-text-stroke: 1px #0f0;
}

.iconContainer {
  animation: animate 90s linear infinite;
}

@keyframes animate {
  0%,100% {
    transform: translateX(-100vw);
  }
  50% {
    transform: translateX(0vw);
  }
}

.iconContainer:nth-child(even) {
  animation: animate2 90s linear infinite;
}

@keyframes animate2 {
  0%,100% {
    transform: translateX(0vw);
  }
  50% {
    transform: translateX(-100vw);
  }
}

.icon {
  cursor: default;
  user-select: none;
  color: rgb(226, 85, 203);
  opacity: 0.1;
  transition: color 0.3s, opacity 0.3s, text-shadow 0.3s;
}

.icon:hover {
  color: rgb(132, 112, 185);
  transition: 0s;
  opacity: 1;
  text-shadow: 0 0 120px #0f0;
}
